<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.thisisthat.user.register.vo.UserRegisterVO" alias="UserRegisterVO"/>		
		<typeAlias type="com.thisisthat.admin.usermanagement.vo.UserVO" alias="UserVO"/>
		<typeAlias type="com.thisisthat.admin.board.vo.AnswerBoardVO" alias="answerVO"/>
		
	</typeAliases>
	
	<mappers>
		<!-- 매퍼파일 공통부분이므로 임의로 건드리지 말고 말씀해주세요-->
		<mapper resource="mappings/user/user-mapping.xml" />
		<mapper resource="mappings/user/user-register-mapping.xml"/>
		<mapper resource="mappings/user/user-loginout-mapping.xml"/>
		<mapper resource="mappings/admin/admin-management-mapping.xml"/>
		<mapper resource="mappings/admin/admin-mapping.xml"/>
		<mapper resource="mappings/admin/admin-board-mapping.xml"/>
		
	</mappers>
</configuration>
