@charset "UTF-8";

.comment_list{
	padding: 20px 15px 15px 56px;
    background-color: #fff;
    margin-top: -1px;
    border: 1px solid #ddd;
    vertical-align: top;
    width: calc(75% - 210px);
    margin-left : 10%;
	float:left;
}
.comment_content{
	padding: 30px 20px 30px;
	display: block !important;
	padding: 20px;
}
.profile{
	vertical-align: top;
	height: 32px;
}
.profile_img{
	border: none;
	margin: 0 5px 10px 0;
}
.comment_text{
	padding-top: 0;
	padding: 15px 0;
}
.comment_img{
	cursor : pointer;
	border: none;
	margin: 0 5px 10px 0;
}
.comment_store{
	    position: relative;
        padding: 15px 15px 0 15px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    
}
.comment_area{
	padding-top: 10px;
	width:calc(100% - 100px);
    height: 88px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #fff;
    padding: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    display: block;
}
.img_area{
	padding-top: 10px;
	width:calc(100% - 100px);
	height:auto;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #fff;
    padding: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    display: none;
    
}
.profile span{
	font-size: 15px;
	font-family: gulim,sans-serif;
    padding: 0 10px 0 0;
    line-height: 12px;
    font-weight: bold;
}
.comment_btn{
	float: right;
    width: 70px;
    height: 35px;
    border: 0;
    display: block;
    background: #000;
    color: #fff;
    font-weight: bold;
    margin: 10px 0 0 10px;
    font-family: gulim;
    font-size: 12px;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
.comment_btn_img{
	float: left;
    width: 40px;
    border: 0;
    display: block;
    background: #000;
    border: 1px solid #ddd;
    cursor : pointer;
    margin: 0 0 0 0;
    font-family: gulim;
    font-size: 12px;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    background: #f3f3f3;
}
.comment_insert_img{
	float: left;
    width: 40px;
    cursor: pointer;
}
.paging_btn{
	background-color: white;
	border: 1px solid #ddd; 
	width: auto;
	height: 41px;
    line-height: 40px;
    border: 1px solid #dddddd;
    float: left;
    text-align: center;
    color: #b2b2b2;
    min-width: 33px; 
    padding: 0 2px;
    cursor: pointer;
}
.now_paging_btn{
	background-color: white;
	width: auto;
	height: 41px;
    line-height: 40px;
    border: 1px solid #dddddd;
    float: left;
    text-align: center;
    color: black;
    font : bold;
    min-width: 33px; 
    padding: 0 2px;
    cursor: pointer;
}
.main-preview{
	cursor: pointer;
}